@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">
		<img src="images/books_64.png" alt="" />
		Kütüphane Sistemine Hoş Geldiniz
	</h1>
	

	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<tr>
	<td colspan="5" width="960" height="40" bgcolor="orange"><marquee>&#128522; &#128073; ********BU PORTAL SAYFASI SAİM GÜL TARAFINDAN YAPILMIŞTIR******** &#128522; </marquee> </td>
</tr>
